# Ignore everything by default
*

!/git/.gitconfig
!/git/.gitignore

!/installation
!/installation/*.sh
!/installation/debian/*.sh
!/installation/fedora/*.sh
!/installation/generic/*.sh
!/installation/macos/*.sh

!/ssh/config

!/vim
/vim/*
!/vim/vimrc

!/zsh
/zsh/*
!/zsh/.aliases
!/zsh/.exports
!/zsh/.zprofile
!/zsh/.zshenv
!/zsh/.zshrc
!/zsh/p10k-lean.zsh
