# ---------------------------------
# Common
# ---------------------------------

alias home='cd ~'
alias ls='ls -lah'


# ---------------------------------
# php
# ---------------------------------
alias phpver="brew list | grep php@"
alias php56='for version in `brew list | grep php@`; do brew unlink "${version}"; done && brew unlink php && brew link --force --overwrite php@5.6'
alias php70='for version in `brew list | grep php@`; do brew unlink "${version}"; done && brew unlink php && brew link --force --overwrite php@7.0'
alias php71='for version in `brew list | grep php@`; do brew unlink "${version}"; done && brew unlink php && brew link --force --overwrite php@7.1'
alias php72='for version in `brew list | grep php@`; do brew unlink "${version}"; done && brew unlink php && brew link --force --overwrite php@7.2'
alias php73='for version in `brew list | grep php@`; do brew unlink "${version}"; done && brew unlink php && brew link --force --overwrite php@7.3'
alias php74='for version in `brew list | grep php@`; do brew unlink "${version}"; done && brew unlink php && brew link --force --overwrite php@7.4'
alias php80='for version in `brew list | grep php@`; do brew unlink "${version}"; done && brew unlink php && brew link --force --overwrite php@8.0'
alias php81='for version in `brew list | grep php@`; do brew unlink "${version}"; done && brew unlink php && brew link --force --overwrite php@8.1'

# ---------------------------------
# Composer
# ---------------------------------

alias c="composer"
alias ci="composer install"
alias cid="composer install --prefer-dist"
alias cii="composer install --ignore-platform-reqs"
alias cis="composer install --prefer-source"
alias cu="composer update"
alias cl="composer update --lock"
alias cr="composer require"
alias cdao="composer dump-autoload -o"

alias c1="composer1"
alias c1i="composer1 install"
alias c1id="composer1 install --prefer-dist"
alias c1ii="composer1 install --ignore-platform-reqs"
alias c1is="composer1 install --prefer-source"
alias c1u="composer1 update"
alias c1l="composer1 update --lock"
alias c1r="composer1 require"
alias c1dao="composer1 dump-autoload -o"


# ---------------------------------
# ddev
# ---------------------------------

alias ddci="ddev composer install"
alias ddcu="ddev composer update"
alias ddcl="ddev composer update --lock"
alias ddcr="ddev composer require"
alias ddcdao="ddev composer dump-autoload -o"
alias ddxd="ddev xdebug"
alias ddxdo="ddev xdebug off"


# ---------------------------------
# Git
# ---------------------------------

alias g="git"
alias gc="git checkout"
alias gco="git checkout"
alias gcl="git clone"
alias gf="git fetch"
alias gi="git init"
alias gs="git status"
alias gstat="git status"
alias gaa="git add -A"
alias gp="git pull"
alias gpo="git pull origin"
alias gpom="git pull origin master"
alias gpor="git pull origin release"
alias gpod="git pull origin development"
alias gcd="git fetch && git checkout development && git pull"
alias gpu="git push"
alias gpuo="git push origin"
alias gcm="git commit -m"
alias gd="git diff"
alias gst="git stash"
alias gsta="git stash apply"
alias gclean="git branch --merged | grep -i -v -E 'main|master|release|development' | xargs git branch -d"
alias gres="git reset --hard"


# ---------------------------------
# SSH
# ---------------------------------

alias ssha="ssh-add"
alias sshag="ssh-add ~/.ssh/github/id_ed25519"
alias sshagl="ssh-add ~/.ssh/gitlab/id_ed25519"


# ---------------------------------
# Vim
# ---------------------------------

alias zshrc="vim ${HOME}/.zshrc"
alias aliases="vim ${HOME}/.dotfiles/zsh/.aliases"
alias exports="vim ${HOME}/.dotfiles/zsh/.exports"
alias hosts="sudo vim /etc/hosts"
alias khosts="sudo vim ${HOME}/.ssh/known_hosts"


# ---------------------------------
# Networking
# ---------------------------------

alias ipv4="curl -4 https://icanhazip.com"
alias ipv6="curl -6 https://canhazip.com"


# ---------------------------------
# macOS
# ---------------------------------

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Lock the screen
alias afk="osascript -e 'tell application \"System Events\" to keystroke \"q\" using {command down,control down}'"


# ---------------------------------
# Linux / Pop!_OS
# ---------------------------------

alias aptup="sudo apt-get update && sudo apt-get full-upgrade && sudo apt-get autoremove"
alias popup="aptup"
