# ---------------------------------
# Common
# ---------------------------------

alias home='cd ~'
alias ls='ls -lah --color'


# ---------------------------------
# Vim
# ---------------------------------

alias zshrc="vim ${HOME}/.zshrc"
alias aliases="vim ${HOME}/.dotfiles/zsh/.aliases"
alias exports="vim ${HOME}/.dotfiles/zsh/.exports"
alias hosts="sudo vim /etc/hosts"
alias khosts="sudo vim ${HOME}/.ssh/known_hosts"


# ---------------------------------
# Networking
# ---------------------------------

alias ipv4="curl -4 https://icanhazip.com"
alias ipv6="curl -6 https://canhazip.com"


# ---------------------------------
# macOS
# ---------------------------------

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Lock the screen
alias afk="osascript -e 'tell application \"System Events\" to keystroke \"q\" using {command down,control down}'"


# ---------------------------------
# Linux / Pop!_OS
# ---------------------------------

alias aptup="sudo apt-get update && sudo apt-get full-upgrade && sudo apt-get autoremove"
alias popup="aptup"
